#define NUM_MACROS 10

char* macros[NUM_MACROS] = {
  "macro one",
  "macro two",
  "macro three",
  "macro four",
  "macro five",
  "macro six",
  "macro seven",
  "macro eight",
  "macro nine",
  "macro ten"
};
