#define NUM_MACROS 2
#define NUM_BANKS 2

char *macros[NUM_MACROS] = {
        {
                "macro one",
                "macro two",
        },
        {
                "macro three",
                "macro four",
        }
};
